/* header start */
header{
    padding: 7px 0 4px 0;
    background-color: #ffffff;
    font-family: "Old Standard TT", serif;
}
header .navbar-brand{
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #2c4964;
    padding: 0px 50px 0px 0px;
}
header ul{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
header ul li{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
header .navbar-nav{
   margin: 0px 0px 0px 50px;
}
header .nav-item .nav-link{
    color: #000000;
    font-weight: 500;
    margin: 0px 20px;
    padding: 0px 0px 0px 0px;
    transition: border-bottom 0.9s;
    &&:hover{
        border-bottom: 3px solid #1977cc;
        color: #1977cc;
    }
}
header .d-flex .btn{
    border-radius: 50px;
    border: 2px solid #1977cc;
    background-color: #1977cc;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 22px;
    &&:hover{
        opacity: 0.8;
    }
}
/* header end */
/* banner start */
.banner{
    background: url(../images/banner.jpg);
    background-size: 100% 100%;
    background-position: inherit;
    background-repeat: no-repeat;
    font-family: "Old Standard TT", serif;
    padding: 65px 0px 50px 0px;
}
.banner .welcome{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.banner .welcome h2{
    color: #2c4964;
    font-size: 48px;
    font-weight: 700;
}
.banner .welcome p{
    font-size: 24px;
    color: #000000;
    margin: 0px 0px 24px 14px;
    bottom: 12px;
    position: relative;
}
.banner .menu .why{
    background-color: #1977cc;
    color: #ffffff;
    padding: 20px 0px 66px 20px;
    border-radius: 6px;
    margin: 0px 0px 0px 0px;
}
.banner .menu .why h3{
    font-weight: bold;
    font-size: 37px;
    margin: 0px 0px 0px 0px;
}
.banner .menu .why p{
    font-size: 18px;
    margin: 24px 16px 0px 0px;
}
.banner .menu .btn a{
    text-decoration: none;
    color: unset;
}
.banner .menu .btn {
    border-radius: 50px;
    border: 2px solid #4792d6;
    background-color: #4792d6;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 22px;
    margin: 24px 0px 0px 75px;
    transition: background-color 0.4s,color 0.4s,border 0.4s;
    &&:hover{
        background-color: #ffffff;
        color: #1977cc;
        border: 2px solid #ffffff;
    }
}
.banner .menu .menu-body{
    text-align: center;
    border-radius: 12px;
    background: color-mix(in srgb, white 72%, transparent 20%);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 28px 0px 30px 0px;
    margin: 56px 0px 0px 19px;
    width: 30%;
    height: 30%;
}
.light-background{
    --background-color: #f1f7fc;
    --surface-color: #ffffff;
}
.banner .menu-body i{
    font-size: 40px;
    font-weight: bold;
    color: #1977cc;
}
.banner .menu-body h4{
    font-size: 22px;
    font-weight: 900;
    color: #2b4863;
    margin: 9px 0px 13px 0px;
    padding: 0px 41px;
}
.banner .menu-body p{
    font-weight: 400;
    font-size: 14px;
    color: grey;
    margin: 0px 0px 0px 0px;
    padding: 0px 32px;
}
/* banner end */
/* about start */
.about{
    font-family: "Old Standard TT", serif;
    padding: 70px 0px 40px 0px;
}
.box{
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}
.about.text{
    background-color: #1977cc;
    color: #ffffff;
    font-size: 32px;
    padding: 19px 29px;
    border-radius: 50px;
}
.about .us{
    padding: 0px 0px 0px 39px;
}
.about .us h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: 900;
}
.about .us p{
    font-weight: 500;
}
.about .us i{
    float: left;
    font-size: 45px;
    top: 20px;
    position: relative;
    color: #1977cc;
    font-weight: bold;
}
.about .us .icon-box {
    padding: 0px 0px 0px 0px;
    margin: 38px 0px 0px 60px;
}
.about .us h4{
    color: #2c4964;
    font-size: 20px;
    font-weight: 900;
}
/* about end */
/* status start */
.status{
    font-family: "Old Standard TT", serif;
    padding: 40px 0px 40px 0px;
    background-color: #f1f7fc;
}
.status .text{
    text-align: center;
}
.status .text .body{
    color:#ffffff;
    background-color: #1977cc;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    border: 2px solid #1977cc;
    width: 54px;
    height: 54px;
    font-size: 24px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.status .text .icon-body{
    background-color: var(--surface-color);
    margin-top: -27px;
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 0;
}
.status .text h3{
    color: #2c4964;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 30px;
}
.status .text p{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 17px;
}
/* status end */
/* service start */
.service{
    padding: 70px 0px 40px 0px;
    font-family: "Old Standard TT", serif;
}
.service .title{
    text-align: center;
}
.service .title h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(190, 187, 187, 0.938);
    margin: auto;
    width: fit-content;
    position: relative;
}
.service .title h2::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 39px;
    right: 40px;
    border-bottom: 3px solid #1977cc;
}
.service .title p{
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0px 30px 0px;
}
.service .body{
    text-align: center;
    margin: 60px 38px 0px 0px;
    border: 1px solid rgba(235, 232, 232, 0.938);
    width: 30%;
    padding: 41px 16px 82px 16px;
    cursor: pointer;
    transition: background-color 0.9s,border 0.9s;
}
.service .body:hover{
    background-color: #1977cc;
    border: 1px solid #1569b3;
}
.service .body .icon{
    margin: 30px 0px 10px 0px;
    background-color: #1977cc;
    width: 21%;
    height: 27%;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    box-shadow: -11px -8px 0px #d1e4f5;
    transition: background-color 0.9s,box-shadow 0.9s;
}
.service .body:hover .icon{
    background-color: #ffffff;
    box-shadow: -11px -8px 0px #5ea0db;
}
.service .body .icon i{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.9s;
}
.service .body:hover i{
    color: #1977cc;
}
.service .body .text h3{
    font-size: 24px;
    color: #2c4964;
    font-weight: bold;
    margin: 13px 0px;
    cursor: pointer;
    transition: color 0.9s;
}
.service .body:hover h3{
    color: #ffffff;
}
.service .body .text p{
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.9s;
}
.service .body:hover p{
    color: #ffffff;
}
/* service end */
/* ment start */
.ment{
    padding: 70px 0px 40px 0px;
    font-family: "Old Standard TT", serif;
}
.ment h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(190, 187, 187, 0.938);
    margin: auto;
    width: fit-content;
    position: relative;
}
.ment h2::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 79px;
    right: 84px;
    border-bottom: 3px solid #1977cc;
}
.ment p{
    font-size: 17px;
    font-weight: 600;
    margin: 20px 0px 60px 0px;
    text-align: center;
}
.ment .first{
    padding:8px;
    margin: 6px 0px 25px 0px;
    border: 1px solid #dadada;
    color: #000000;
    outline: none;
    width: 100%;
    font-size: 15px;
    transition: border 0.7s;
}
.ment .first:focus{
    border: 1px solid #1977cc;
    outline: none;
}
.ment .second{
    width: 100%;
    padding: 8px;
    margin: 6px 0px 25px 0px;
    border: 1px solid #dadada;
    color: #000000;
    font-size: 15px;
    transition: border 0.7s;
    outline: none;
}
.ment .second:focus{
    border: 1px solid #1977cc;
    outline: none;
}
.ment .third{
    width: 100%;
    padding: 8px;
    border: 1px solid #dadada;
    color: #000000;
    font-size: 15px;
    transition: border 0.7s;
    outline: none;
}
.ment .third:focus{
    border: 1px solid #1977cc;
    outline: none;
}
.ment .btn-ment{
    text-align: center;
    margin: 20px 0px 0px 0px;
}
.ment .btn-ment button{
    border-radius: 50px;
    border: 2px solid #1977cc;
    background-color: #1977cc;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 22px;
    &&:hover{
        opacity: 0.8;
    }
}
/* ment end */
/* depart start */
.depart{
    padding: 70px 0px 40px 0px;
    font-family: "Old Standard TT", serif;
}
.depart h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(190, 187, 187, 0.938);
    margin: auto;
    width: fit-content;
    padding: 0px 0px 10px 0px;
    position: relative;
}
.depart h2::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 79px;
    right: 84px;
    border-bottom: 3px solid #1977cc;
}
.depart p{
    font-size: 17px;
    font-weight: 600;
    margin: 25px 0px 60px 0px;
    text-align: center;
}
/* tab start */
.tab {
    float: left;
    width: 20%;
    height: 248px;
    border-right: 2px solid #dadada;
}
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 12px 4px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    left: 2px;
    position: relative;
}
.tab button:focus{
    color: #1977cc;
    border-right: 2px solid #1977cc;
    left: 2px;
    position: relative;
}
.tabcontent{
   float: left;
   padding: 5px 18px;
   width: 80%;
   border-left: none;
   height: 300px;
}
.tabcontent .text h4{
    text-align: left;
    color: #2c4964;
    font-size: 26px;
    font-weight: bold;
}
.tabcontent .text p{
    text-align: left;
    color: #444444;
    font-size: 15px;
    font-weight: 500;
}
.tabcontent .text .p1{
    margin-top: -39px;
}
/* depart end */
/* doctor start */
.doctor{
    padding: 70px 0px 40px 0px;
    font-family: "Old Standard TT", serif;
}
.doctor h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid rgba(190, 187, 187, 0.938);
    margin: auto;
    width: fit-content;
    padding: 30px 0px 10px 0px;
    position: relative;
}
.doctor h2::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 39px;
    right: 40px;
    border-bottom: 3px solid #1977cc;
}
.doctor p{
    font-size: 17px;
    font-weight: 600;
    margin: 25px 0px 60px 0px;
    text-align: center;
}
.doctor .box{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin: 0px 37px 37px 0px;
    width: 46%;
    transition: transform 0.7s;
    &&:hover{
        transform: translateY(-10px);
    }
}
.doctor .box .image{
    float: left;
    width: 30%;
    padding: 0px 4px 0px 0px;
    margin: 17px 13px 0px 0px;
}
.doctor .box img{
    border-radius: 100px;
}
.doctor .box .text{
    margin: 0px 0px 0px 20px;
}
.doctor .text h4{
    color: #2c4964;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
    top: 0;
    bottom: 0;
    position: relative;
}
.doctor .text h5{
    font-size: 17px;
    font-weight: bold;
    margin: 3px 0px 0px 0px;
}
.doctor .text hr{
    width: 12%;
    margin: 15px 0px;
}
.doctor .box .text p{
    text-align: left;
    margin: unset;
    font-size: 15px;
    color: #3d3c3c;
}
.doctor .box ul{
    list-style-type: none;
    margin: 14px 0px 0px 0px;
}
.doctor .box ul li{
    display: inline-block;
    color: #676767;
    margin: 0px 21px 0px 0px;
}
/* doctor end */
/* ask start */
.ask{
    padding: 70px 0px 40px 0px;
    font-family: "Old Standard TT", serif;
}
.ask h2{
    color: #2c4964;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    width: fit-content;
    padding: 30px 0px 10px 0px;
    position: relative;
}
.ask h2::before{
    border-bottom: 1px solid rgba(190, 187, 187, 0.938);
}
.ask h2::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: -2px;
    left: 100px;
    right: 100px;
    border-bottom: 3px solid #1977cc;
}
.ask p{
    font-size: 17px;
    font-weight: 600;
    margin: 25px 0px 60px 0px;
    text-align: center;
}
.ask .freq .accordion-button{
    color: #2b4863;
    font-size: 20px;
    font-weight: bold;
}
.ask .freq .accordion-button:focus{
    background-color: #1977cc;
    color: #ffffff;
}
.ask .freq .accordion-header{
    margin-top: -30px;
}
.ask .freq h2{
    width: unset;
    margin: 0px 0px 0px 0px;
    position: relative;
}
.ask .freq h2::after{
    border-bottom: unset;
}
.accordion-body {
    background-color: #1977cc;
    margin-top: -11px;
}
.ask .freq p{
    text-align: left;
    color: #ffffff;
    background-color: #1977cc;
    font-size: 18px;
    margin: 6px 0px 39px 0px;
}
/* ask end */
/* slide start */
.slide{
    font-family: "Old Standard TT", serif;
}
.slide .test{
    padding: 70px 0px 0px 0px;
}
.slide h2{
    color: #2c4964;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
    margin: 15px 0px 15px 0px;
}
.slide p{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.slide .carousel{
    margin: 54px 0px 0px 0px;
}
.slide .carousel-item .image{
    width: 13%;
    float: left;
    margin: 0px 15px 0px 0px;
}
.slide .carousel-item img{
    border-radius: 100px;
}
.slide .carousel-item h3{
    color: #2c4964;
    font-size: 20px;
    font-weight: bold;
}
.slide .carousel-item h4{
    font-size: 15px;
    color: #676767;
    font-weight: bold;
}
.slide .carousel-item ul{
    list-style-type: none;
}
.slide .carousel-item ul li{
    display: inline-block;
    color: #ffc107;
}
.slide .carousel-item .p3{
    margin: 30px 0px 0px 0px;
}
.slide .carousel-item .p3 span{
    font-weight: 900;
    font-size: 17px;
    color: #5ea0db;
    margin: 3px 0px 10px 0px;
}
/* slide end */